html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: "Roboto", sans-serif;
  background-image: url("images/space.png");
}

/* Photo section */
.photo-container {
  display: flex;
  flex-direction:  row;
  flex-wrap: wrap;
  margin-right: 0em;
}

#photo-item {
  order: 0;
  flex-shrink: 1;
  border-radius: 0.2em;
  height: 10em;
  width: 10em;
  margin: 7.5em 1em 5em 8em;
}

/* Speech bubble*/
.speech-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#speech-item {
  order: 0;
  /* flex-grow: 0.5; */
  margin: 6em 0em 0em 0em;
  padding: 0.5em;
  height: 2.9em;
  width: 25em;
  border-radius: 0.2em;
  background-color: #ffffff;
}

.transparent-property {
  opacity: 0.8;
}

header {
  font-weight: bold;
  font-size: 1.5em;
  color: #424343;
  margin: 0%;
  text-align: justify;
}

h1 {
  color: #424343;
  margin: 0 0 0 0;
  text-align: justify;
}

#pointer-item {
  order: 1;
  align-self: flex-end;
  margin-top: -.2em;
  margin-right: 35em;
  margin-left: 1em;
  margin-bottom: 0em;
}

/* Game Previews */
#preview-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0em;
  padding: 0em;
  background-color: #0b1a18;
}

#one-list-item {
  order: 0;
  align-self: flex-start;
  margin: 1em;
}

#make-it-rain-item {
  order: 1;
  align-self: flex-start;
  margin: 1em;
}

#bomb-sniffer-item {
  order: 2;
  align-self: flex-start;
  margin: 1em;
}

#sensei-sense-item {
  order: 3;
  align-self: flex-start;
  margin: 1em;
}

/* Preview for articles */
#middle-page-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #041019
}

.article-container {
  display: flex;
  flex-direction: column;
  border-radius: 0.2em;
  height: 18em;
  width: 58em;
  margin: 1em;
}

.banner-item {
  order: 0;
  height: 5em;
  width: 57em;
}

.article-preview {
  order: 1;
  background-color: #FFFEFE;
  height: 5em;
  width: 57em;
}

/* Contact Navigation */
#twitter-item {
  order: 5;
}

#contact-us {
  text-align: center;
  color: #FFFEFE;
}