html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: "Roboto", sans-serif;
  background-image: url("images/space.png");
}

.header-container {
  display: flex;
  flex-direction: row;
}

/*
/* Photo section */
.photo-container {
  display: flex;
  flex-direction: row;
  order: 0;
  flex: 0 1 auto;
  margin: 7.5em 1em 5em 6em;
}

#photo-item {
  order: 0;
  flex: 0 1 auto;
  margin: 0 1em 0 0;
  border-radius: 0.2em;
  height: 10em;
  width: 10em;
}

/*
/* Speech bubble */
.bold-font {
  font-weight: bold;
  font-size: 1.5em;
  margin: 0;
}

.transparent-property {
  opacity: 0.8;
}

#speech {
  color: #424343;
  margin: 0 0 5em 0;
  text-align: left;
  padding: 0.5em;
  border-radius: 0.2em;
  background-color: #ffffff;
}

#pointer-item {
  order: 1;
  flex: 0 1 auto;
  align-self: flex-end;
  margin: 5em 35em 3em -32em;
}

/*
/* Game Previews */
#game-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0em;
  padding: 0em;
  background-color: #0b1a18;
}

#game-wrapper li {
  list-style: none;
  flex: 0 1 auto;
}

.game-item {
  align-self: flex-start;
  margin: 1em;
}

/*
/* Preview for articles */
#middle-page-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #041019;
}

.article-container {
  display: flex;
  flex-direction: column;
  border-radius: 0.2em;
  height: 18em;
  width: 58em;
  margin: 1em;
}

.banner-item {
  order: 0;
  height: 5em;
  width: 57em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.article-preview {
  background-color: #fffefe;
  height: 5em;
  width: 57em;
}

.article-header {
  order: 1;
  flex: 0 1 auto;
  margin: 0;
  background-color: #fffefe;
}

.article-date {
  order: 2;
  flex: 0 1 auto;
  margin: 0;
  background-color: #fffefe;
}

.article style {
  order 3;
  flex: 0 1 auto;
}

p {
  padding: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  background-color: #fffefe;
  margin: 0;
}

.read-more-button {
  order: 4;
  flex: 0 1 auto;
  text-align: center;
  border-radius: 2em;
  background-color: #0081d5;
  margin-top: -1em;
  margin-left: 48em;
}

.footer-container {
  display: flex;
  justify-content: center;
}

/*
/* Contact Navigation */
#twitter-item {
  align-self: auto;
  order: 5;
  flex: 0 1 auto;
}

.twitter-logo {
  align-self: center;
  height: 3em;
  width: 3em;
}

#contact-us {
  text-align: justify;
  color: #fffefe;
}
